body{
	margin:0;
	color:#6a6f8c;
	background:#c8c8c8;
	font:600 16px/18px 'Open Sans',sans-serif;
}
div.bg-alert{
	background: rgb(255 255 255 / 44%);
	border-radius: 20px;
    padding: 1vw;
}
div#alert-register{
	display: none;
}